/*****************************************************
 * File: Style.css
 *****************************************************/

body {
  width:100%;
  max-width:960px;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
  margin-left:auto;
  margin-right:auto;
  background:#644040;  
}

.main {
  background:white;
  margin:0px;
  padding:20px;
  padding-bottom:40px;
}

#mainImage {
  width:300px;
  height:300px;
}

.mainContent {
  font-family:Lato, Arial, sans-serif;
  font-size:16px;
  font-weight: 400;
}

h4 {
  font-family:Verdana, Arial, sans-serif;
  font-size:22px;
  margin-top: 20px;
}

.mainTable {
  width:50%;
  font-family:Arial,sans-serif;
  font-size:12px;
  border-collapse:collapse;
  text-align:left;
  border:1px solid black;
  margin:10px;
}

tr, th, td {
  border:1px solid black;
  padding: 2px 4px;
}

#headerName {
  height:220px;  
  font-family:Verdana, Arial, sans-serif;
}

#headerName > h1 {
  text-align: left;
  margin-top: 80px;
}

#headerAssignments {
  height:220px;  
  font-family:Verdana, Arial, sans-serif;
  text-align: center;  
}

#headerAssignments > h3 {
  vertical-align: middle;
}

#headerAssignments > h3 > a {
  font-size: 30px;
}

#headerLabels {
  font-family:Verdana, Arial, sans-serif;
  font-size:18px
}

#headerLabels > p {
  margin: 0;
}

.customLink {
  font-size:18px;
  color: white;
  text-decoration: none;
}

.btn-group {
  margin: 20px 0px;
}


